### System Metrics

In [1]:
import sys
sys.path.append('../')

# Load libraries
from utils.save import save_dataset
from constant.columns import COLS, INDEX_COL, FREQUENCY
from constant.path import PATH

import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv(PATH, skiprows=1, header=None, names=COLS)
df.head()

,time,timestamp,cpu_usage,memory_usage,bandwidth_inbound,bandwidth_outbound,tps,tps_error,response_time,status
0,2023-09-08 01:16:00,1694110560000,0.090,0.535,7460.0,6450.0,2.0,0.0,607.0,0
1,2023-09-08 01:16:05,1694110565000,0.166,0.533,5850.0,5270.0,2.2,0.0,2090.0,0
2,2023-09-08 01:16:10,1694110570000,0.202,0.553,9060.0,7960.0,3.2,0.0,3450.0,0
3,2023-09-08 01:16:15,1694110575000,0.146,0.580,8410.0,7210.0,3.2,0.0,2580.0,0
4,2023-09-08 01:16:20,1694110580000,0.102,0.535,4880.0,4300.0,2.6,0.0,862.0,0

In [3]:
# Set index
df.set_index(INDEX_COL, inplace=True)
df.index = pd.to_datetime(df.index)
df.index.freq = FREQUENCY

# Export dataset
save_dataset(df)