### System Metrics

In [1]:
import sys
sys.path.append('../')

# Load libraries
from utils.save import save_dataset
from constant.columns import COLS
from constant.path import PATH

import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv(PATH, skiprows=1, header=None, names=COLS)
df.head()

,time,timestamp,cpu_usage,memory_usage,bandwidth_inbound,bandwidth_outbound,tps,tps_error,response_time,status
0,2023-06-12 11:33:10,1686544390000,0.006,0.374,8.73,6.42,0.2,0.0,15.1,0
1,2023-06-12 11:33:15,1686544395000,0.012,0.374,8.79,6.49,0.2,0.0,20.1,0
2,2023-06-12 11:33:20,1686544400000,0.008,0.374,8.77,6.46,0.2,0.0,14.3,0
3,2023-06-12 11:33:25,1686544405000,0.008,0.374,8.74,6.44,0.2,0.0,18.9,0
4,2023-06-12 11:33:30,1686544410000,0.008,0.374,8.88,6.53,0.2,0.0,17.5,0

In [3]:
# Export dataset
save_dataset(df)